spring:
  application:
    name: mza
  threads:
    virtual:
      enabled: true
  datasource:
    url: jdbc:sqlite:/var/lib/mza/mza.db
    driver-class-name: org.sqlite.JDBC
    initialization-mode: always
  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: update
server:
  port: 8080
  error:
    include-message: always
logging:
  level:
    net.jackiemclean: DEBUG
    org.springframework: INFO
    org.hibernate.SQL: DEBUG

audio.interface:
  backend: AMIXER
  amixer:
    command: /usr/bin/amixer
    device: USB

# MQTT configuration
# Set mqtt.enabled to false to disable MQTT entirely (useful when using JSON-RPC WebSocket only)
mqtt.enabled: true
mqtt.broker.url: tcp://mccoy.lan:1883
mqtt.clientId: mza
mqtt.topic.base: mza/zone/
mqtt.topic.base.group: mza/group/

# The real zone and source configurations.
zones:
  - name: living_room
    description: Living room speakers
    left:
      name: "Mix A"
    right:
      name: "Mix B"
  - name: kitchen
    description: Kitchen speakers
    left:
      name: "Mix C"
    right:
      name: "Mix D"
  - name: ground_floor_toilet
    description: Ground floor toilet speaker
    left:
      name: "Mix E"
    right:
      name: "Mix E"
  - name: main_bathroom
    description: Main bathroom speaker
    left:
      name: "Mix F"
    right:
      name: "Mix F"
  - name: first_floor_toilet
    description: First floor toilet speaker
    left:
      name: "Mix G"
    right:
      name: "Mix G"
  - name: laundry_room
    description: Laundry room speaker
    left:
      name: "Mix H"
    right:
      name: "Mix H"

sources:
  # PCM sources are software mixer inputs that applications
  # such as MPD, etc. use to output their sound.
  - name: "mpd"
    left:
      name: "Input 01"
    right:
      name: "Input 02"
  - name: "upnp1"
    left:
      name: "Input 03"
    right:
      name: "Input 04"
  - name: "upnp2"
    left:
      name: "Input 05"
    right:
      name: "Input 06"
  - name: "upnp3"
    left:
      name: "Input 07"
    right:
      name: "Input 08"
  - name: "upnp4"
    left:
      name: "Input 09"
    right:
      name: "Input 10"

  # Hardware input sources. This allows us to directly route
  # physical audio sources connected to the inputs to one or
  # more zones.
  - name: "hw_source1"
    left:
      name: "Input 13"
    right:
      name: "Input 14"
  - name: "hw_source2"
    left:
      name: "Input 15"
    right:
      name: "Input 16"
  - name: "hw_source3"
    left:
      name: "Input 17"
    right:
      name: "Input 18"
